<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- TODO disable ad_id -->

    <application>

        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />

        <activity
            android:name="ua.syt0r.kanji.presentation.screen.main.GooglePlayMainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>