[Desktop Entry]
Name=Kanji Dojo
Comment=Application for practicing writing and reading Japanese characters
Exec=kanji-dojo
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Type=Application
Version=1.7